<div class="main-content">
  <div class="main-content__top">
    <div class="wrapper">
      <h1>Lamentamos, mas não há suporte <br> para o seu navegador!</h1>
    </div>
  </div>

  <div class="main-content__bottom">
    <div class="wrapper">
      <p>Sim, a web é aberta, mas sejamos sensatos, <br> usar um navegador antigo só atrapalha o ecossistema digital da web. <br> Portanto, atualize o seu navegador!</p>

      <ul class="browsers">
        <li><a href="https://www.google.com/chrome/browser/" target="_blank"><img src="browsers/chrome.png" alt="Google Chrome"/></a></li>
        <li><a href="https://www.mozilla.org/pt-BR/firefox/new/" target="_blank"><img src="browsers/firefox.png" alt="Mozilla Firefox"/></a></li>
        <li><a href="http://opera.com" target="_blank"><img src="browsers/opera.png" alt="Opera"/></a></li>
        <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank"><img src="browsers/ie.png" alt="Internet Explorer"/></a></li>
      </ul>

      <p>Obrigado! <br><strong>AWLKA</strong></p>
    </div>
  </div>

</div>
