<section class="home-presentation">
  <!-- <video src=""></video> -->
  <div class="wrapper">
    <!-- <img src="" alt="" class="awlka-logo"> -->
  </div>
</section>

<header class="main-header" role="banner">
  <div class="wrapper">
    <a href="#" class="main-header__logo">
      <span class="site-logo__img"></span>
    </a>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item"><a href="#" class="site-nav__link"><span>O que fazemos</span></a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link"><span>Como fazemos</span></a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link"><span>Portfólio</span></a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link"><span>Contato</span></a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="wwd">

  <h2 class="section-title">O que fazemos</h2>

</section>