<form action="/contacts" method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <input type="text" name="contact[name]" placeholder="Nome">
  <input type="email" name="contact[email]" placeholder="E-mail">
  <input type="tel" name="contact[telephone]" placeholder="Telefone">
  <textarea name="contact[message]" placeholder="Mensagem"></textarea>
  <button type="submit" class="btn-contact__send"><span>Enviar</span></button>
</form>