<div class="error404-container">
  <div class="error404-container__center">
    <h1 class="error404-title">Erro 404</h1>
    <p class="error404-description">A página que você procura não existe.</p>
    <a class="error404-go-back" href="/">Volte para a página inicial</a>
  </div>
</div>