/*------------------------------------*\
  Base Styles
\*------------------------------------*/

@import 'helpers';

html {
  font-family: "Open Sans", sans-serif;
  background: $awlka-white;
  line-height: 1.5;
}

.wrapper {
  @include outer-container;

  @include media($mobile) {
    padding: 0 em(20);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $awlka-grey;
}

::-webkit-scrollbar-thumb {
  background: $awlka-black;
  border-radius: 0;
}

::-moz-selection {
  background: $awlka-black;
  color: $awlka-blue;
}
::selection {
  background: $awlka-black;
  color: $awlka-blue;
}

a {
  color: $awlka-white;
  text-decoration: none;
  &:hover {
    @include transition (all .2s ease-in-out);
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  @include placeholder {
    color: $awlka-black;
  }
}