/*------------------------------------*\
  Helpers and Colors
\*------------------------------------*/

$awlka-black: #0c0c0c;
$awlka-black__t: rgba(0, 0, 0, .8);
$awlka-white: #f0f0f0;
$awlka-blue: #08c;