/*------------------------------------*\
  Colors
\*------------------------------------*/

$awlka-black: #0c0c0c;
$awlka-black__t: rgba(0, 0, 0, .7);
$awlka-white: #f0f0f0;
$awlka-grey: #ccc;
$awlka-blue: #08c;
$awlka-pink: #e94e6b;

$savelives-green: #1daabf;

/*------------------------------------*\
  Helpers
\*------------------------------------*/

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.nav-toggle__active {
  display: inline-block;
  visibility: visible;
  @include transform(rotate 0deg);
}

.nav-toggle__inactive {
  display: none;
  visibility: hidden;
  @include transform(rotate 0deg);
}

.is-hidden {
  display: none;
  visibility: hidden;
}

.is-visible {
  display: block;
  visibility: visible;
}

.is-visible-x {
  display: inline-block;
  visibility: visible;
}