/*------------------------------------*\
  Colors
\*------------------------------------*/

$awlka-black: #0c0c0c;
$awlka-black__t: rgba(0, 0, 0, .7);
$awlka-white: #f0f0f0;
$awlka-grey: #ccc;
$awlka-blue: #08c;

$savelives-green: #1daabf;

/*------------------------------------*\
  Helpers
\*------------------------------------*/

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}