/*------------------------------------*\
  Home styles
\*------------------------------------*/

/*------------------------------------*\
  Miscellaneous
\*------------------------------------*/

.hwd,
.contact-container,
.presentation-container {
  background: $awlka-black;
  color: $awlka-white;
}

.main-header,
.wwd,
.portfolio-container {
  background: $awlka-white;
}

.section-container {
  padding: em(70) 0;
}

.section-title {
  font-size: rem(22);
  font-weight: 600;
  text-transform: uppercase;
}

/*------------------------------------*\
  #Presentation Container
\*------------------------------------*/

.arrow-down {
  position: absolute;
  right: 0;
  bottom: em(10);
  left: 0;
  text-align: center;
  z-index: 3;
}

.arrow-down__img {
  width: 40px;
  height: 30px;
  cursor: pointer;
  path {
    fill: $awlka-white;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $awlka-black__t;
  z-index: 2;
}

.presentation-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.presentation-container__video {
  width: 100%;
  video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(../black-ink.jpg) no-repeat;
    background-size: cover;
  }

  @include media($iphone-4) {
    display: none;
    visibility: hidden;
  }

  @include media($iphone-5) {
    display: none;
    visibility: hidden;
  }

}

.wrapper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  @include transform(translate(-50%, -50%));
  z-index: 3;
}

.awlka-subtitle {
  font-size: rem(18);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.awlka-logo__ {
  max-width: 100%;
  display: block;

  @include media($mobile) {
    width: 160px;
    height: 160px;
    margin: auto;
  }

  @include media($tablet) {
    width: 200px;
    height: 200px;
  }

  @include media($desktop-x) {
    width: 400px;
    height: 400px;
  }

}

/*------------------------------------*\
  #Main Content
\*------------------------------------*/

.main-content {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/*------------------------------------*\
  #Header
\*------------------------------------*/
.main-header {
  padding: em(10) 0;
  border-bottom: 1px solid $awlka-black;

  @include media($desktop-x) {
    height: em(80);
  }

  .wrapper {

    @include media($desktop-x) {
      position: relative;
      top: em(8);
      height: em(45);
    }

  }
}

.site-nav {

  @include media($mobile) {
    display: none;
  }

  @include media($desktop-x) {
    position: relative;
    bottom: em(25);
    float: right;
  }

}

.site-nav__item {

  @include media($desktop-x) {
    position: relative;
    bottom: em(10);
    margin-left: em(20);
    display: inline-block;
  }

}

.site-nav__link {
  color: $awlka-black;
  text-transform: uppercase;
  text-decoration: none;

  @include media($desktop-x) {
    font-size: rem(14);
  }
}

.awlka-logo__small {
  vertical-align: bottom;

  @include media($mobile) {
    width: 40px;
    height: 40px;
  }

  @include media($tablet) {
    width: 40px;
    height: 40px;
  }

  @include media($desktop-x) {
    width: 45px;
    height: 45px;
  }

}

/*------------------------------------*\
  #What we do
\*------------------------------------*/

.wwd-box {
  text-align: center;

  @include media($desktop) {
    @include span-columns(6);
    padding: em(40) 0 em(80) 0;

    p {
      width: em(350);
      margin: auto;
    }
  }

}

.wwd-subtitle {
  text-transform: uppercase;
  font-weight: 600;
}

.wwd-sites__img,
.wwd-apps__img {

  @include media($mobile) {
    width: em(110);
    height: em(110);
  }

  @include media($desktop-x) {
    width: em(160);
    height: em(160);

    &:hover {
      rect,
      .wwd-circle {
        @include transition (all .2s ease-in-out);
        fill: $awlka-black;
      }
      rect {
        stroke: $awlka-white;
      }
      path {
        @include transition (all .2s ease-in-out);
        fill: $awlka-white;
      }
    }
  }

}


/*------------------------------------*\
  #How we do
\*------------------------------------*/

.hwd-rwd__img {
  fill: $awlka-white;
}

.hwd-subtitle {
  font-size: rem(16);
  text-transform: uppercase;
  margin-top: em(50);
}

.hwd-box {
  text-align: center;

  @include media($desktop-x) {
    @include span-columns(3);
  }
}

.hwd-box__title {
  font-size: rem(14);
  text-transform: uppercase;
}

/*------------------------------------*\
  #Contact
\*------------------------------------*/

.btn-contact__send {
  border: 0;
  margin-top: em(15);
  padding: em(8) em(30);

  span {
    color: $awlka-black;
    font-weight: 400;
    text-transform: uppercase;
  }

  @include media($desktop-x) {
    float: right;
  }
}

input {
  margin-bottom: em(20);
}

textarea {
  resize: none;
  height: em(190)
}

button,
input,
textarea {
  background: $awlka-white;
}

input,
textarea {
  width: 100%;
  color: $awlka-black;
  border: 0;
  outline: none;
  padding: em(10) em(15);
  &:focus {
    background: $awlka-white;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $awlka-white inset;
    -webkit-text-fill-color: $awlka-black;
  }

  @include media($desktop) {
  }

}

.contact-box {

  @include media($desktop-x) {
    @include span-columns(6);
  }

}

.contact-bravo {

  @include media($desktop-x) {
  }

}

.contact-bravo__content {

  @include media($desktop-x) {
    width: 70%;
    float: right;
  }

}