/*------------------------------------*\
  Home styles
\*------------------------------------*/

/*------------------------------------*\
  Miscellaneous
\*------------------------------------*/

.hwd,
.contact-container,
.presentation-container {
  background: $awlka-black;
  color: $awlka-white;
}

.main-header,
.wwd,
.portfolio-container {
  background: $awlka-white;
}

.section-container {
  padding: em(40) 0;
}

/*------------------------------------*\
  #Presentation Container
\*------------------------------------*/

.arrow-down {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  text-align: center;
  z-index: 3;
}

.arrow-down__img {
  fill: $awlka-white;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $awlka-black__t;
  z-index: 2;
}

.presentation-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.presentation-container__video {
  width: 100%;
  video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(../black-ink.jpg) no-repeat;
    background-size: cover;
  }

  @include media($iphone-4) {
    display: none;
    visibility: hidden;
  }

  @include media($iphone-5) {
    display: none;
    visibility: hidden;
  }

}

.wrapper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  @include transform(translate(-50%, -50%));
  z-index: 3;
}

.awlka-subtitle {
  font-size: rem(18);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.awlka-logo__ {
  max-width: 100%;

  @include media($mobile) {
    width: 1600px;
    height: 160px;
    margin: auto;
  }

  @include media($tablet) {
    height: 200px;
  }

  @include media($desktop-x) {
    width: 400px;
    height: 400px;
  }

}

/*------------------------------------*\
  #Main Content
\*------------------------------------*/

.main-content {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/*------------------------------------*\
  #Header
\*------------------------------------*/
.main-header {
  padding: em(10) 0;
  border-bottom: 1px solid $awlka-black;
}

.site-nav {

  @include media($mobile) {
    display: none;
  }

}

.awlka-logo__small {
  vertical-align: bottom;

  @include media($mobile) {
    width: 40px;
    height: 40px;
  }

  @include media($tablet) {
    width: 40px;
    height: 40px;
  }

  @include media($desktop-x) {
    width: 45px;
    height: 45px;
  }

}

/*------------------------------------*\
  #How we do
\*------------------------------------*/

.hwd-rwd__img {
  fill: $awlka-white;
}