<meta property="og:image" content="http://www.awlka.com/share/awlka-light.png" />
<meta property="fb:profile_id" content="1430993533831634">
<meta property="og:title" content="AWLKA - Desenvolvimento Web" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="AWLKA"/>
<meta property="og:url" content="http://www.awlka.com" />
<meta property="og:description" content="Auxiliamos através de ferramentas web na expansão, no reconhecimento e na lucratividade de marcas e negócios." />
<meta property="og:locale" content="pt_BR" />

<link rel="canonical" href="http://www.awlka.com">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@_awlka">
<meta name="twitter:creator" content="@_awlka">
<meta name="og:description" content="Auxiliamos através de ferramentas web na expansão, no reconhecimento e na lucratividade de marcas e negócios.">
<meta name="og:title" content="AWLKA">
<meta name="twitter:url" content="http://www.awlka.com">
<meta name="twitter:image" content="http://www.awlka.com/share/awlka-light.png">
<link rel="author" href="https://plus.google.com/+Awlka">